.theform {
    width: 90%;
    border: 1px solid aliceblue;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.filein {
    margin: 10px;
}

.theheading {
    display: flex;
    justify-content: center;
}

.theheading input {
    width: 95%;
    justify-self: center;
    font-size: 1.2em;
    padding: 5px;
}

.theform h1 {
    margin: 10px 0px;
    justify-self: center;
}

.para {
    width: 100%;
    display: flex;
    justify-content: center;
}

.para textarea {
    width: 95%;
    padding: 5px;
    font: 1em sans-serif;
    margin: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.btn button {
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}