.heading h1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-size: 2.7em;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
}

.nav-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 98%;
    margin: 10px 0px 10px 0px;
    border: 2px solid aliceblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
}

.heading {
    margin: 0px 0px 0px 20px;
}

.links {
    margin: 0px 30px 0px 0px;
}


